<p style="background-color:red;color:white;font-size:20px"> ParagrÄfs ar sarkanu fonu un baltu tekstu</p> <style> p{ background-color:red color:white font-size:20px }
    p{
        background-color:red
        color:white
        font-size:20px
    }